/*headers*/
header.mdl-layout__header{
    background-color: #006A6A;
    color: white;
    opacity: 80%;
}

/*title in the header*/
span.mdl-layout-title{
    font-size: 35px;
    font-weight: 600;
}

/*title in the nav drawer*/
.mdl-layout__drawer span.mdl-layout-title{
    font-size: 20px;
    font-weight: 400;
}

/*icon for nav drawer*/
div.mdl-layout__drawer-button i.material-icons{
    color: white;
    transform: scale(1.5, 1.5);
}

/*page size*/
.page-content{
    height: 90%;
}

/* PRODUCT BACKLOG PAGE STYLING*/
/*size of the PBI list*/
div.content-grid.mdl-grid{
    height: 95%;
    overflow: scroll;
}

/*green rectangle containing PBIs*/
.PBI-container{
    background-color: #006A6A;
    border-radius: 15px;
    opacity: 80%;
    padding: 15px 0;
}

/*individual PBI*/
.list-item{
    background-color: #FFFCF6;
    border-radius: 12px;
    margin: 15px 0;
    border: 0 solid #FFFCF6;
    transition: border ease-in-out 0.5s;
}

/*hover animation to tell user it can be clicked*/
.list-item:hover{
    border: 3px solid #60D3AA;
    transition: border ease-in-out 0.5s;
}

/*for the edit and delete buttons for each PBI*/
span button.mdl-button--colored i.material-icons{
    color: black;
}

/*vertically aligning edit and delete buttons*/
li.list-item span.mdl-list__item-secondary-content{
    height: auto;
}

/*spacing for each PBI*/
ul.mdl-list{
    margin: 0 30px;
}

/*aligning fab to add PBI*/
div.add_circle-container{
    text-align: center;
}

/*colour adding PBIs fab*/
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored{
    background-color: #60D3AA;
}

/*making the chip smaller*/
span.mdl-chip{
    scale: 80%;
}

/* DIALOG STYLING */

/*set width of the dialog*/
dialog.mdl-dialog{
    width: 30%;
}

/*determines the layout of the dialog*/
div.pbi-line{
    display: grid;
    max-width: none;
}
div.pbi-line.mdl-textfield{
    min-width: 200px;
    width: 100%;
}
div.mdl-textfield.mdl-js-textfield.is-upgraded{
    width: auto;
}

/*styling of tag checkboxes*/
div#tag-radios{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
label.mdl-radio{
    width: auto;
    padding-right: 15px;
}

h5.dialog-label{
    margin: 0;
    padding-right: 10px;
}

/*styling for when the inputs have been disabled*/
input[disabled]{
    pointer-events: none;
    opacity: 0.6;
    background: #e6e6e6;
}

/*throwing error message*/
span.mdl-textfield__error{
    align-self: end;
}

/**/
#person{
    min-width: 100px;
}

/* HOME PAGE STYLING */
.home-title{
    text-align: center;
}

.home-buttons{
    display: flex;
    justify-content: space-around;
}